<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="WCFTcpServer">
            <reliableSession inactivityTimeout="00:00:10"/>
            <security mode="None"/>
          </binding>
        </netTcpBinding>
        <basicHttpBinding>
          <binding name="HelloService">
            <security mode="None"/>
          </binding>
        </basicHttpBinding>
      </bindings>
      <behaviors>
        <serviceBehaviors>
          <behavior name="WCFTcpBehavior">
            <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
            <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
            <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="200" />
          </behavior>
        </serviceBehaviors>
      </behaviors>    
      <services>
        <service behaviorConfiguration="WCFTcpBehavior" name="WCF_Tcp_Server.WCFTcpServer">
          <endpoint contract="WCF_Tcp_Server.IWCFTcpServer" address="WCFTcpServer" bindingConfiguration="WCFTcpServer" binding="netTcpBinding" name="TcpBinding" />
          <endpoint contract="WCF_Tcp_Server.IHelloWorld" bindingConfiguration="HelloService" binding="basicHttpBinding" name="BasicBinding" address="HelloService" listenUri="http://localhost/HelloService"/>
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://150.1.13.166/"/>
              <add baseAddress="http://150.1.13.166:1907/"/>
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>